/conf/bbsd.conf
/conf/badwords.conf
/conf/ssh_host_rsa_key*
/utils/conf/db_conn.conf.php
/aclocal.m4
/autom4te.cache
/COPYING
/compile
/conf/*.user
/conf/lbbs.logrotate
/conf/lbbs.logrotate~
/conf/lbbs.service
/conf/lbbs.service~
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/configure~
/data/*.user
/depcomp
/INSTALL
/install-sh
/libtool
/log
/ltmain.sh
/m4
/missing
/NEWS
/var
CVS
.cvsignore
Makefile
Makefile.in
stamp-h1
*.o
*.Po
*.Plo
*.a
*.la
*.lai
*.so
*.so.*
*.lo
*.Tpo
/src/bbsd
/src/test_trie_dict
/src/test_file_loader
/src/test_section_list
/src/test_lml
/src/test_ssh_server
/src/test_article_favor
/src/test_article_view_log
/src/test_memory_pool
/src/test_bbs
/src/test_bwf
/src/test_hash_dict
