/conf/bbsd.conf
/utils/conf/db_conn.conf.php
/aclocal.m4
/autom4te.cache
/COPYING
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/log
/var
CVS
.cvsignore
.vscode
Makefile
*.o
*.Po
*.Plo
*.a
*.la
*.lai
*.so
*.so.*
*.lo
*.Tpo
bbsd
