/conf/bbsd.conf
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/COPYING
/depcomp
/libtool
/ltmain.sh
CVS
.cvsignore
Makefile
*.o
*.Po
*.Plo
*.a
*.la
*.lai
*.so
*.so.*
*.lo
bbsd
