name: Build and Release

on:
  push:
    tags:
      - "v*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: write # Allows the action to create and write to the release
    
    steps:
    - uses: actions/checkout@v4

    - name: autogen
      run: autoreconf --install --force

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libssh-dev libsystemd-dev
          
    - name: configure
      run: ./configure

    - name: Run make
      run: make

    - name: Run check
      run: make check

    - name: Run distcheck
      run: make distcheck

    - name: Create Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        prerelease: true
        files: |
          lbbs-*.tar.gz
