name: Docker Image CI

on:
  push:
    branches: [ "v1.7" ]
  pull_request:
    branches: [ "v1.7" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build the Docker image
      run: docker build . --file Dockerfile/dockerfile.bbsd --tag lbbs-bbsd:$(date +%s)
